#t-3c00b9e6-569d-4b07-ae86-bf5778714627 #t-back_azul {
  -ms-transform: rotate(0.0deg);
}
#t-3c00b9e6-569d-4b07-ae86-bf5778714627 #t-bak_menu_header {
  -ms-transform: rotate(0.0deg);
}
#t-3c00b9e6-569d-4b07-ae86-bf5778714627 #t-txtAudiencias {
  -ms-transform: rotate(0.0deg);
}
#t-3c00b9e6-569d-4b07-ae86-bf5778714627 #t-imgBottom {
  -ms-transform: rotate(0.0deg);
}
#t-3c00b9e6-569d-4b07-ae86-bf5778714627 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}