#t-403340a5-bec8-413f-921e-8398dab3c084 #t-back_azul {
  -ms-transform: rotate(0.0deg);
}
#t-403340a5-bec8-413f-921e-8398dab3c084 #t-bak_menu_header {
  -ms-transform: rotate(0.0deg);
}
#t-403340a5-bec8-413f-921e-8398dab3c084 #t-txt_herramientas {
  -ms-transform: rotate(0.0deg);
}
#t-403340a5-bec8-413f-921e-8398dab3c084 #t-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#t-403340a5-bec8-413f-921e-8398dab3c084 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}