#t-8e045938-a9cd-4e73-bc83-6180996df72a #t-back_azul {
  -ms-transform: rotate(0.0deg);
}
#t-8e045938-a9cd-4e73-bc83-6180996df72a #t-bak_menu_header {
  -ms-transform: rotate(0.0deg);
}
#t-8e045938-a9cd-4e73-bc83-6180996df72a #t-txtAudiencias {
  -ms-transform: rotate(0.0deg);
}
#t-8e045938-a9cd-4e73-bc83-6180996df72a #t-imgBottom {
  -ms-transform: rotate(0.0deg);
}
#t-8e045938-a9cd-4e73-bc83-6180996df72a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}