#t-d42d01f0-5d16-4933-b7a8-0c9c170f7433 #t-back_azul {
  -ms-transform: rotate(0.0deg);
}
#t-d42d01f0-5d16-4933-b7a8-0c9c170f7433 #t-imgBottom {
  -ms-transform: rotate(0.0deg);
}
#t-d42d01f0-5d16-4933-b7a8-0c9c170f7433 #t-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#t-d42d01f0-5d16-4933-b7a8-0c9c170f7433 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}